@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Utilities */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: #0f172a;
    color: #f8fafc;
    -webkit-tap-highlight-color: transparent;
}